{
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@screens": "./screens",
        "@helpers": "./helpers",
        "@config": "./config",
        "@components": "./components"
      }
    }]
  ]
}
