{%extends 'general/layout.html' %}
{% load crispy_forms_tags %}

{% block content%}
<style type="text/css">
	@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
</style>
<h5 class = 'collection'><font color=#282938>
{{title}}
</font>
</h5>
<div class = "card">
	
	<!-- <div class = "card-content">
		<b>Daily Efficiency</b> : {{efficiency.daily_efficiency}}
	</div><div class = "card-content">
		<b>Weekly Efficiency</b> : {{efficiency.weekly_efficiency}}
	</div> -->
	<div class = "card-content">
		<b>Total Efficiency</b> : {{efficiency.total_efficiency}}
	</div>
	<div class = "card-content">
		<b>Day</b> : {{efficiency.day}}
	</div>
	<div class = "card-content">
		<b>Week</b> : {{efficiency.week}}
	</div>
	<div class = "card-content">
		<b>Total Days</b> : {{efficiency.total_days}}
	</div>
	<div class = "card-content">
		<b>Total Weeks</b> : {{efficiency.total_weeks}}
	</div>
	<div class = "card-content">
		<b>Tasks attempted</b> : {{efficiency.tasks_attempted}}
	</div>
	<div class = "card-content">
		<b>Tasks completed</b> : {{efficiency.tasks_completed}}
	</div>
</div>

<!-- <div class = "card" style = 'margin-left: 200px; margin-bottom: 50px; margin-right: 200px; padding-left: 20px; padding-right: 20px; padding-top: 40px; padding-bottom: 50px'>
<form method="post" style = 'margin-left: 30px; margin-right: 30px'>
{% csrf_token %}
  {% include 'includes/bs4_form.html' with form=efficiency_form %}

<button type="submit" class="btn btn-success">Add Efficiency</button>
</form>
</div> -->

{% endblock %}