[Desktop Entry]
Encoding=UTF-8
Name=Link to Hello World · GitHub Guides
Type=Link
URL=https://guides.github.com/activities/hello-world/
Icon=text-html
