{%extends 'general/layout.html' %}
{% load crispy_forms_tags %}

{% block content%}
<style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
</style>
<h5 class = 'collection'><font color=#282938>
{{title}}
</font>
</h5>

<ul class = 'collection' style = 'background-color: transparent;'>
	{% for process in processes %}
  <!-- <li class = 'item'>Coffee</li> -->
  <!-- <li class = 'item'>Tea</li> -->
  <!-- <li class = 'item'>Coca Cola</li> -->
  <!-- <li class = 'collection-item' style = 'padding :10px 10px;'><a href = "user/details/{{user.id}}">{{user}}</a></li> -->
  <!-- <script type="text/javascript">
  	console.log("{{profile}}")
  </script> -->
  
  <a style='text-decoration: none;color:black; background-color: transparent;' href="{{user_id}}/{{process.id}}" class="collection-item">{{process.name}}</a>
  	{% endfor %}
</ul>


<div class = "card" style = 'margin-left: 200px; margin-bottom: 50px; margin-right: 200px; padding-left: 20px; padding-right: 20px; padding-top: 40px; padding-bottom: 50px'>
<form method="post" style = 'margin-left: 30px; margin-right: 30px'>
{% csrf_token %}
<!-- {{ process_form | crispy}} -->
  {% include 'includes/bs4_form.html' with form=process_form %}

<button type="submit" class="btn btn-success">Add Process</button>
</form>
</div>
<div class="button-holder" style="text-align: center; margin-bottom: 10px">
      <!-- <a class="button" style="background-color: grey;">Switch Theme</a> -->
      <a class="button1" style="background-color: grey;">Next - Add Slots!</a>
</div>

<script type="text/javascript">
  $('a.button1').click(function(){
        window.location.href = "/slots/".concat({{user_id}});
    });
</script>
{% endblock %}
