{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
	<title></title>

<style type="text/css">
	
	.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*align: center;*/
  font-size: 16px;
  cursor : pointer;
}
</style>

</head>
<body>

<div class="card">
<div class="card-body">
<h4 class="card-title">Log in</h4>

<form method="post">
{% csrf_token %}
<!-- <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
  </div> -->
<!-- <input type="hidden" name="next" value="{{ next }}"> -->
{{ form|crispy }}

<button type="submit" style = "border-color: green; background-color: green" class="button">Log in</button>
</form>
</div>
</div>
</body>
</html>
