
{%extends 'general/layout.html' %}

{% block content%}
<style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
</style>
<h5 class = 'collection'><font color=black>
{{title}}
</font>
</h5>

<ul class = 'collection' style = 'background-color: transparent;'>
	{% for user in users %}
  <!-- <li class = 'item'>Coffee</li> -->
  <!-- <li class = 'item'>Tea</li> -->
  <!-- <li class = 'item'>Coca Cola</li> -->
  <!-- <li class = 'collection-item' style = 'padding :10px 10px;'><a href = "user/details/{{user.id}}">{{user}}</a></li> -->
  <!-- <script type="text/javascript">
  	console.log("{{user}}")
  </script> -->
  
  <a style='text-decoration: none;color:black; background-color: transparent;' href="{{user.id}}" class="collection-item">{{user}}</a>
  	{% endfor %}
</ul>

{% endblock %}